<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<script src="https://www.googleoptimize.com/optimize.js?id=OPT-KV34SL9"></script>
<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BC4XMNDB58"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BC4XMNDB58');
</script>
<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
